* {
    box-sizing: border-box;
}
img{
    width: 100%;
}
.banner{
    width: 100%;
    height: 100px;
    background: #F7f7f7;
    position: fixed;
}
#red-line{
    width: 960px;
    height: 4px;
    background-color: red;
    margin: 0 auto;
    display: flex;
}
.search{
    width:30px;
    height: 30px;
    background: url(../img/icon-search.png);
    float: right;
    margin-right: 305px;
    margin-top: 27px;
    background-size: contain;
}
.container{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.text{
    margin: 10px;
    font-size: 25px;
    color: #4a4a4a;
    padding: 5px;
}
p a{
    color: #4a4a4a;
}
.red-text a{
    color: red;
}
.design-text{
    margin-right: 30px;
}
.designco-logo{
    width: 150px;
    height: 30px;
    background: url(../img/designco-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-right: 35px;
}
.middle-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
}
h1{
    font-size: 40px;
    color: #4a4a4a;
    margin: 0;
}
.middle-text p{
    margin: 0;
    margin-bottom: 30px;
}
.pic-section{
    display: flex;
    width: 920px;
    margin: auto;
}
.pic-container1{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.block1a{
    flex: 2;
    padding-bottom: 4px;
}
.blockbc{
    display: flex;
}
.block1b{
    flex: 1.2;
    padding-right: 10px;
}
.block1c{
    flex: 1.8;
}
.pic-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block2a{
    padding-bottom: 10px;
    flex: 1;
}
.block2b{
    flex: 2;
}
.bottom-section{
    width: 920px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.bottom-text1{
    float: left;
    width: 260px;
    margin-top: -18px;
}
.bottom-text1 h3{
    color: red;
}
.bottom-text2 {
    margin-top: 30px;
}
.bottom-text2 p{
    columns: 3;
}
.m-text{
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}
.lorem{
    color: #4a4a4a;
    font-size: 14px;
}
.bottom-text1 a{
        color: #4a4a4a;
}
