*{
    box-sizing: border-box;
}

img{
    width: 100%;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    /*margin: 0 auto;
    margin-top: 50px;*/
    max-width: 960px;
    display: flex;
}

.col{
    flex: 1;
    background-color: rgb(192, 228, 191);
    /*transition:all 1s ease;
    opacity: .1;*/
}

/*.col:hover{
    flex:5;
    opacity: 1;
}*/

.col:first-child{
    background-color: rgb(215, 161, 161);
}

.col:last-child{
    background-color: rgb(210, 266, 255);
}
